

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <h2 class="display-5 mb-5">Solicita tu crédito en 3 pasos</h2>
        <div class="row">
          <div class="col-lg-4 col-md-6 hvr-float-shadow">
            <div class="count-box">
              <i class="fa fa-file-text-o"></i>
              <span data-toggle="counter-up">1</span>
              <h5 data-toggle="counter-up">Consulta y Compara</h5>
              <p>
                Consulta, comprara y selecciona el crédito o seguro que más se adapte a tus necesidades.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-md-0 hvr-float-shadow">
            <div class="count-box">
              <i class="fa fa-users mb-5"></i>
              <span data-toggle="counter-up">2</span>
              <h5 data-toggle="counter-up">Llena tu solicitud</h5>
              <p>
                Llena y paga tu solicitud totalmente en línea. Todos nuestros trámites en línea son 100% seguros.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 hvr-float-shadow">
            <div class="count-box">
              <i class="fa fa-money"></i>
              <span data-toggle="counter-up">3</span>
              <h5 data-toggle="counter-up">Recibe la respuesta de tu solicitud.</h5>
              <p>
                Si tu trámite es aprobado, recibe la autorización de tu solicitud y disfruta los beneficios.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- End Counts Section -->
