<app-carausel></app-carausel>
<app-servs></app-servs>

<!-- <app-about></app-about> -->

<!--PARALLAX-->

<section class="parallax pt-5" id="secction1"> </section>

<!-- /PARALLAX-->

<div class="container marketing mt-5">
  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading credit-text-color-primary">
        First featurette heading.
        <span class="text-muted credit-text-color-second"
          >It’ll blow your mind.</span
        >
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.ng
      </p>
    </div>
    <div class="col-md-5">     
      <img src="assets/img/background/bg2.jpg" class="rounded mx-auto d-block img-fluid" alt="...">
    </div>
  </div>

  <hr class="featurette-divider mt-5" />

  <div class="row featurette mt-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading credit-text-color-primary">
        Oh yeah, it’s that good.
        <span class="text-muted credit-text-color-second"
          >See for yourself.</span
        >
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/img/background/bg4.jpg" class="rounded mx-auto d-block img-fluid" alt="...">
    </div>
  </div>

  <hr class="featurette-divider mt-5" />

  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading credit-text-color-primary">
        First featurette heading.
        <span class="text-muted credit-text-color-second"
          >It’ll blow your mind.</span
        >
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/background/bg5.jpg" class="rounded mx-auto d-block img-fluid" alt="...">
    </div>
  </div>
</div>

<section class="parallax mt-5" id="secction2"></section>

<app-precio></app-precio>

<app-footer></app-footer>
