<br />

<div class="jumbotron jumbotron-fluid m-5 text-center animate__animated animate__fadeInDown animate__faster">
  <img
    src="./assets/img/credit_online_8.png"
    class="rounded mx-auto d-block mx-auto mb-3"
    alt="..."
  />

  <h1>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
  </h1>

  <h4 class="display-5">¡Hemos recibido tu solicitud exitosamente!</h4>
  <p class="lead">
    Recibirás el comprobante de tu compra en el correo usuario@tucorreo.com y
    estaremos informándote del seguimiento y resultado de tu solicitud.
  </p>
  <hr class="my-4" />
  <p>
    Si tienes alguna pregunta envíanos un mensaje al correo
    <a href="#">clientes@creditonline.com.mx</a>
  </p>

  <p >
    <a 
        routerLink="/home"
        class="btn btn-success btn-lg" 
        role="button"
      >Regresar al inicio <i class="fa fa-home"></i> </a
    >
  </p>
</div>
