
@import "../../../styles.scss";


.nav-link {
    color: black !important;
    text-shadow: 1px 1px 2px lightgray;
}

/* Sweep To Right */
.nav-link-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-link-hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .nav-link-hover:hover, .nav-link-hover:focus, .nav-link-hover:active {
    color: white !important;
  }
  .nav-link-hover:hover:before, .nav-link-hover:focus:before, .nav-link-hover:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  // .badges-circle {
	// 	background-color: red;
	// 	color: yellow;
	// 	font-weight: bold;
	// 	border-radius: 25px;
	// 	padding: 5px 10px;
	// 	left: 5px;
	// 	bottom: 5px;
	// 	top: auto;
  // }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #858796;
    pointer-events: none;
    cursor: default;
  }

  