@import "../../../styles.scss";

.mat-form-field {
    width: 100% !important;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .mat-form-field {
    margin-right: 12px;
  }


  ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected){
    border-color: var(--bsuccess);
  }

  ::ng-deep .mat-calendar-body-selected {
    background-color: var(--bsuccess) !important;
  }

  ::ng-deep .mat-icon-button {
    color: var(--bsuccess) !important;
  }

  ::ng-deep .mat-button-wrapper {
    color: var(--bsuccess) !important;
    
  }
 
  small {
    font-size: small !important;
  }