<div class="card hovercard shadow-lg mb-5 rounded">
  <div class="cardheader"></div>
  <div class="avatar">
    <img alt="" src="../../../../assets/img/TC/bancomer/logo.jpg" />
  </div>
  <div class="info">
    <div class="title">
      <a target="_blank" href="https://scripteden.com/">Tarjeta Platinum</a>
    </div>
    <div class="desc">Paga en miles de comercios en todo el mundo</div>
    <div class="desc">Ofertas de estreno al contratar</div>
    <div class="desc">El 15% de tus compras en Puntos BBVA</div>
  </div>

  <div class="card-footer">

    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
        <button type="button" class="btn btn-info ripple">Solicitar</button>
        <button type="button" class="btn btn-info ripple">Ver más..</button>
      </div>
  </div>
</div>
