
<div class="content mt-5">
  <div class="row mt-5 p-5">
    <div class="col">
      <h3 class="credit-text-color-primary">Tarjetas de Crédito</h3>

      <!-- INGRESO MENSUAL -->
      <mat-card class="mb-3">
        <div class="row">
          <div class="col-md-2 col-sm-12">
            <p>
              Ingreso mensual:
              <strong class="credit-text-color-second">
                {{ ingreso | currency: "USD" }}
              </strong>
            </p>
          </div>
          <div class="col-md-10 col-sm-12">
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1000"
              min="10000"
              max="30000"
              class="w-100"
              (input)="valorSlider($event)"
            ></mat-slider>
          </div>
        </div>
      </mat-card>
      <!--/ INGRESO MENSUAL -->
    </div>
  </div>

 
</div>

<div class="container">
  <div class="row">

    <div 
      class="col-12" 
      *ngFor = "let tajeta of arrayTarjetas"
      >
      <app-tarjetav2 [tarjeta] ="tajeta"></app-tarjetav2>
    </div>

  </div>
</div>




