:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --bsuccess: #28a745; //bootstrap success
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


$credit-color-principal: #0062e6;
$credit-color-pricipal-primary: $credit-color-principal;
$credit-color-pricipal-second: rgba(
  46,
  115,
  179,
  1
); /*Color extraido de la imagen del logo*/
$credit-color-pricipal-third: #007bff;
$credit-color-pricipal-fourt: #33aeff;

$credit-color-second: #6FFF39;//rgba( 115, 173, 66,  1); /*Color extraido de la imagen del logo*/

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-credit-principal {
  background-color: $credit-color-principal !important;
}
.btn-credit-second {
  background-color: $credit-color-second !important;
}

.credit-background-color-primary {
  background-color: $credit-color-principal;
}

.credit-background-color-second {
  background-color: $credit-color-second;
}

.credit-text-color-primary {
  color: $credit-color-principal !important;
}

.credit-text-color-second {
  color: $credit-color-second !important;
}

.credit-text-color-third {
  color: $credit-color-pricipal-third !important;
}

.btn-radius-50 {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 18px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.background-color-success {
  background: var(--success);
}

.success-snackbar {
  color: var(--white) !important;
  background: var(--bsuccess);
}

.mat-button-wrapper {
  color: var(--white) !important;
}

