.tc-over {
    // box-shadow: 2px 2px 5px black;
    box-shadow: 0 11px 10px grey;
    top:-15px; 
}
.tc-not-over {
    box-shadow: 1px 1px 4px lightgray;
}

ul {
    list-style: none !important;
}

.card-footer {
    padding: none !important;
}

.card-footer > button {
    width: 100% !important;
}
